<div class="container-fluid">
  <h1> Welcome To  WhiteBoard</h1>


  <span class =float-left>
    <div class = "btn-group">
      <button class = btn>
        <a routerLink ="/sections"> Course-Sections</a>
      </button>
       <button class="btn">
    <a routerLink="/courses"> Course-Navigator </a>
  </button>

    </div>
  </span>

  <br/>
  <br/>

  <span class="float-right">
    <div class="btn-group">
      <button class="btn">
    <a routerLink="/login"> LogIn </a>
  </button>
      <button class="btn">
    <a routerLink="/register"> Register </a>
  </button>
      <button class="btn">
    <a routerLink="/profile"> Profile </a>
  </button>
    </div>
  </span>

<router-outlet></router-outlet>
</div>
